* {

}

:root {
    --green: rgb(51,204,102);
    --blue: rgb(36,152,244);
    --dark-blue: rgb(18,69,112);
    --orange: rgb(255,155,19);
    --grey: rgb(110,110,110);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}
p {
    color: var(--grey);
}
a:hover {
    text-decoration: none;  
    opacity: 0.8;
}

.bg-blue {
    background: var(--blue);
}
.bg-green {
    background: var(--green);
}
.bg-orange {
    background: var(--orange);
}

.color-orange {
    color: var(--orange) !important;
}
.color-grey {
    color: var(--grey) !important;
}
.color-white {
    color: white !important;
}

.img-cover >img {
    width: 100%;
    height: auto;
}

/* HEADER */
#header-sm-dir {
    background-image: linear-gradient(to bottom, rgba(36,151,243,1), rgba(29,134,218,1));
    color: white;
}
.v-divide {
    height: 80%;
    width: 1px;
    background-color: black;
    opacity: 0.1;
    margin: 0 10px;
}
.icon-wrap {
    max-width: 20px;
}
.icon-wrap > img {
    width: 100%;
}

nav {
    background-image: url('/imgs/headerbgelts-02.png');
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 100px;
    padding: 15px 5px;
    padding-bottom: 0;
}

.nav-items {
    background-image: url('/imgs/headerbgelts-03.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: bottom;
    max-width: 600px;
}

.nav-icon {
    /* padding: 5px 10px; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.nav-icon > img {
    max-width: 80%;
    min-width: 20px;
}

#indicator {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    bottom: 0;
}

/* DASHBOARD SEARCH BAR */
.dashboard-bar {
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    margin-top: 1em;
}

#search-bar input{
    border: none;
    border-radius: 3px 0px 0px 3px;
}
#search-bar input:focus{
    outline: 0;
}
#search-bar button {
    border: none;
    cursor: pointer;
    color: var(--blue);
    padding: 1px 8px;
    margin: 0;
    background-color: white;
    border-radius: 0px 3px 3px 0px;
}

/* 
CONTENT
 */
#dashboard {
    margin-top: 1em;
    background-image: linear-gradient(360deg, rgba(255,255,255,0) 50%, rgba(246,246,246,1) 100%);
    border-radius: 8px;
    box-shadow: inset 2px 1px 3px rgba(110,110,110, 0.1), -2px -1px 0px rgba(119,119,119, 0);
    position: relative;
    padding-bottom: 0px !important;
}
.fade-overlay {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background-image: linear-gradient(180deg, rgba(255,255,255, 0) 15%, rgba(255,255,255, 1) 75%);
}

.content {
    background-color: white;
    box-shadow: -1px 2px 1px rgba(190,190,190,0.5),
    -1px -2px 1px rgba(190,190,190,0.5) inset;
    z-index: 99;
}
.content h1, h2, h3, h4 {
    color: var(--blue);
}

.col-border {
    box-shadow: 1px 0 2px rgba(119,119,119, 0.3);
}

.bottom-border {
    border-bottom: solid 1px rgba(190,190,190,0.3);
}
.right-border {
    border-right: solid 1px rgba(190,190,190,0.3);
}

/* tasks */
.task {
    color: var(--blue);
}

.task.complete > * {
    filter: grayscale(100%);
    opacity: 0.4;
}

.task .btn.btn-outline-secondary {
    display: flex;
     flex-flow: row nowrap;
    max-height: 2.5em;
    border-color: rgba(190,190,190,0.5);
    color: var(--blue);
    padding: 5px 10px;
    min-width: 65px;
}
.task .btn.btn-outline-secondary i {
    font-size-adjust: 0.8;
}
.task .btn.btn-outline-secondary p {
    width: 100%;
}
.task .btn.btn-outline-secondary:hover {
    background-color: rgba(190,190,190,0.5);
}

.task-num {
    background-color: var(--green);
    margin: auto;
    text-align: center;
    height: 2em; width: 2em;
    padding: 5px;
    border-radius: 50%;
    color: white;
}

.task h4 {
    padding: 0 0.5em;
}

/* recommendations */
.rec i {
    color: var(--green);
    font-size-adjust: 0.8;
    padding: 8px 1em 8px 0.5em;
}

.rec-type {
    font-size: 0.8em;
}

/* forms */
#analytics p {
    font-size: .8em;
}
#analytics .form-check-label {
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
}
#analytics .form-check:nth-child(1) >.form-check-label {
    background-color: rgb(17, 69, 112);
}
#analytics .form-check:nth-child(2) >.form-check-label {
    background-color: rgb(34, 152, 244);
}
#analytics .form-check:nth-child(3) >.form-check-label {
    background-color: rgb(58, 89, 155);
}
#analytics .form-check:nth-child(4) >.form-check-label {
    background-color: rgb(49, 204, 102);
}

.form-check-wrap {
    position: relative;
}
.form-check-input, .cr {
    height: 1em;
    width: 1em;
}
.cr {
    position: absolute;
    left: 0;
}

/* client ribbonned cards */
.card-bg {
    border-color: rgba(190,190,190,0.5);
    width: 85%;
    height: 90%;
    background: rgb(110,110,110);
    display: block;
}

.client-outline {
    position: relative;
    bottom: -15px;
}
.outline-bg {
    box-shadow: 1px 0 2px rgba(119,119,119, 0.3), -1px 0 2px rgba(119,119,119, 0.3);
    width: 85%;
    height: 80%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.client-outline-img {
    z-index: 998;
}

.ribbon-text {
    width: 90%;
    z-index: 999;
}
.ribbon-end.rotate {
    transform: rotate(180deg);
}

.chart-wrap{
    width: 85%;
    box-shadow: 1px 0 2px rgba(119,119,119, 0.3), -1px 0 2px rgba(119,119,119, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.chart-wrap > img {
    width: 100%;
}

/* carousel */
/* bootstrap override */
.carousel-control-next, .carousel-control-prev {
    opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 10%;
    background: white;
    opacity: 1;
    height: 70px;
    width: 70px;
    border-radius: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-control-next-icon i, .carousel-control-prev-icon i {
    font-size: 1.5em;
}
.carousel-item-bg {
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    border-radius: 10px;
    margin: 0 5%;
    width: 90%;
}
.carousel-content {
    z-index: 999;
}

/* ads/promos */
.promo-card {
    border-radius: 5px;
    position: relative;
    height: 100%;
    min-height: 168px;
    min-width: 230px;
}
.promo-card-bg {
    background: white;
    border-radius: 5px;
    position: absolute;
    height: 92%; 
    width: 100%;
    box-shadow: 1px 0 2px rgba(119,119,119, 0.3), -1px 0 2px rgba(119,119,119, 0.3);
}
.promo-img-wrap {
    /* background-image: url(/imgs/promo1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.promo-img-wrap.inner-fit {
    height: 92%;
    border-radius: 5px;
    overflow: hidden;
}

.promo-img-wrap img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    bottom: 4%;
}
.promo-img-wrap.inner-fit img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}