* {

}

:root {
    --green: rgb(51,204,102);
    --blue: rgb(36.152,244);
    --dark-blue: rgb(18,69,112);
    --orange: rgb(255,155,19);
    --grey: rgb(119,119,119);
}

/* HEADER */
#header-sm-dir {
    background-image: linear-gradient(to bottom, rgba(36,151,243,1), rgba(29,134,218,1));
    color: white;
}
.v-divide {
    height: 80%;
    width: 1px;
    background-color: black;
    opacity: 0.1;
    margin: 0 10px;
}
.icon-wrap {
    max-width: 20px;
}
.icon-wrap > img {
    width: 100%;
}

nav {
    background-image: url('/imgs/headerbgelts-02.png');
    background-repeat: no-repeat;
    background-size: cover ;
    min-height: 100px;
    padding: 15px 5px;
    padding-bottom: 0;
}

.nav-items {
    background-image: url('/imgs/headerbgelts-03.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: bottom;
    max-width: 600px;
}

.nav-icon {
    /* padding: 5px 10px; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.nav-icon > img {
    max-width: 80%;
    min-width: 20px;
}

#indicator {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    bottom: 0;
}

/* DASHBOARD SEARCH BAR */
.dashboard-bar {
    background-color: var(--green);
    color: white;
    border-radius: 10px;
}